:root{
    --primary-color:#07A53D;
    --secondary-color:gold;
    --primary-white:#fff;
    --primary-font-weight:600;
    --default-margin: 35px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation: bgcolChnager 4s linear 1s infinite;
}


/*  header for the navigation */
header{
    height: 70px;
    background-color: var(--primary-color);
}

header nav{
    height: 70px;
    margin: auto var(--default-margin);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links a{
    padding: 10px 15px;
    text-decoration: none;
    color: var(--primary-white);
    font-weight: 500;
    transition: all 0.5s ease-in-out;
}

.links a.active{
    color: var(--secondary-color) !important;
    border-bottom: 3px solid var(--secondary-color);
}

.links a:hover{
  color: var(--secondary-color); 
  border-bottom: 3px solid var(--secondary-color);
}



.welcome{
    height: 400px;
    width: 100%;
    background-image: url('../img/welcome.png');
    background-size: contain;
}

.inner__welcome{ 
    height: 400px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.434);
    display: flex;   
    justify-content: center;
    align-items: center; 
}

.inner__shadow__cover{
    text-align: center;
}

.inner__shadow__cover h1{ 
    font-size: 54px;
    font-weight: 700; 
    color: var(--primary-white);
}

.inner__shadow__cover > p{ 
    font-size: 20px;
    font-weight: 500;
    color: var(--primary-white);
    margin: 15px auto;
}

.btn{
    font-size: 24px;
    font-weight: 700;
    color: var(--primary-white);
    background-color: var(--secondary-color);
    padding: 6px 20px;
    outline: 0;
    border: 0;
    border-radius: 4px;
    text-decoration: none;
    margin: 15px auto;
}


.btn:hover{
    color: var(--primary-white) !important;
    background-color: rgba(255, 217, 0, 0.93);
}



/* partners  */

.partners{
    height: 120px;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    animation: tofro 3s linear 2s infinite forwards;
    /* animation-name: tofro;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    animation-direction: reverse; */
}

.inner__partners{
    height: 80px;
    width: 50%;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    background-color: var(--primary-white);
    top: -45px;
}




/* About us section */
.section{
  border-top: 1px solid #ccc;
}

.inner__aboutus{
    margin: var(--default-margin); 
    display: flex;
    justify-content: space-between;
}

.left, .right{
    width:45%;
}

.left h3{
    color: #00000080; 
    margin-bottom: var(--default-margin);
}
.left h2{
    font-size: 48px;
    font-weight: var(--primary-font-weight);
    
}

.right div.item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: var(--default-margin);
}

.item .__num{
    color: #00000090; 
    font-size: 42px;
    font-weight: 700;
    margin-right: 10px;  
}

.__content h3{
    font-size: 24px;
    font-weight: 500;
    line-height: 31px;
}





/*  What we offer */
.inner_offers, .inner_job_listing, .contact{
    margin: var(--default-margin);
}

.offers_header{
    text-align: center;
    margin-top: var(--default-margin);
}
.offers_header h3{ 
    font-size: 24px;
    font-weight: 400;
    line-height: 31px; 
    text-align: center;
    color: #00000080;
}
.offers_header h1{  
    font-size: 48px;
    font-weight: 600;
    line-height: 61px; 
    color: #000000;
}

.offers_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--default-margin);
}

.offer_item{
    text-align: center;
    width: 28%;
}
.offer_item h2{ 
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: -0.5px; 
    
}



/* Job listings */
.job_lisitng_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 35px;
}

.job_lisitng_header .left{
     width: 50%;
}

.job_lisitng_header .left p >a{ 
    font-size: 14px;
    font-weight: 400;
    line-height: 17px; 
    text-align: left;
    color: #00000060;
    text-decoration: none;
    padding-right: 10px;
}

.job_lisitng_header .left p{ 
    margin:15px 0;
}

.job_lisitng_header .right{
   width: 30%;
   display: flex;
   justify-content: flex-end; 
}


a.tabs.active{
    padding-bottom:4px;
    border-bottom: 2px solid var(--primary-color);
}


/* Job Row */
.job_row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.row_item{
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 23%;
    padding: 15px;
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.4);
}

.item_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 100px;
}

.item_body h2{ 
    font-size: 20px;
    font-weight: 700;
    line-height: 24px; 
}
.item_body h4{ 
    margin: 20px 0; 
    font-size: 20px;
    font-weight: 400;
    line-height: 24px; 

}

.btn_rack button{
    width: 77px;
    height: 22px;
    border-radius: 10px;
    padding: 4px;
    border: 0; 
    font-size: 10px;
    font-weight: 400;
    line-height: 12px; 
}

.btn_rack button.full_time{
    background-color: #21AE4875;
}
.btn_rack button.design{
    background-color: #FFD25E99;
}


.item_footer{
    height: 100px;    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item_footer a.f_btn{
    text-decoration: none;
    width: 100px;
    height: 44px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

a.view{
    border: 1px solid gold;
    color: #000;
}

a.apply{
    background: #07A53D;
    color: #fff;
}





/*  SIGNUP */
.body-main{
    height: calc( 100vh - 70px );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form_container{
    height:450px;
    width:450px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
  
}

form.signup{
    padding:15px;
    zoom: 0.9;
    width: 85%;
}

.row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0; 
}

.btn-row{
    text-align: center;
}

input, select{
    padding: 5px;
    height: 40px;
    border-radius: 4px;
    background-color: #ccc;
    border: 1px solid #ccc;
}


form span, .form_container p{
    font-size: 13px;
}






/*  Creatinig the animation */

@keyframes tofro {
   from{
      top:10px
   }
    to{
     top:-20px;
    }
}

.rotating-image{
    animation: moveRound 4s linear 1s infinite forwards;
}


@keyframes moveRound {
    from{ transform: rotate(0deg);}
    to{ transform: rotate(360deg)}
}


@keyframes bgcolChnager {
    0%   {background-color: rgb(240, 158, 158);}
    25%  {background-color: rgb(171, 231, 92);}
    50%  {background-color: rgb(68, 125, 237);}
    100% {background-color: rgb(19, 186, 94);}
}







/*  RESPONSIVE DESIGNS FOR DIFFERENT SCRENNS */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .inner__shadow__cover h1{ 
        font-size: 18px; 
    }

    .inner__shadow__cover > p{ 
        font-size: 13px; 
    }

    .links{
        display: none;
    }

    .inner__partners{
        width: 80%;
    }

    .partner{
            width:30%;
    }
    .partner img{
            width:100%;
    }

    .inner__aboutus{
        flex-direction: column;
    }
    .inner__aboutus .left{
        width: 100%;
    }
    .inner__aboutus .right{
        width: 100%;
    }

    .inner__aboutus .left h2{
        font-size: 34px;
    }

    .right div.item{
        /* flex-direction: column; */
        width: 100%;
    }
    
    .item .__num{
        font-size: 20px; 
    }
    
    .__content h3{
        font-size: 14px; 
    }

    .offers_content{
        flex-direction: column;
    }
    
    .offer_item{ 
        width: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}